.nav {
  padding: 24px;
  background-color: #f2f2f7;
  /* position: fixed; */
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLink {
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.logOut {
  border: none;
  cursor: pointer;
}

.userImg {
  width: 35px;
}
