.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 130px 24px 223px;
  row-gap: 32px;
}

/* .title {
  max-width: 600px;
} */

.warning {
  color: red;
}
