.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 32px;
  column-gap: 32px;
  justify-content: center;
  padding: 0px;
}

.listItem {
  width: 312px;
  height: 308px;
  box-shadow: 0px 2px 4px #00000024, 0px 3px 4px #0000001f;
}

.listItemLink {
  text-decoration: none;
}

.listItem:focus,
.listItem:hover {
  transform: scale(1.05);
}

.listItem img {
  height: 232px;
}

.descrWrapper {
  padding: 12px 16px;
}

.descrWrapper h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.15px;
  text-align: left;
  color: black;
}

.descrWrapper p {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.25px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 768px) {
  .list {
    row-gap: 24px;
    column-gap: 20px;
  }

  .listItem {
    width: 240px;
    height: 244px;
  }

  .listItem img {
    height: 168px;
  }

  .descrWrapper h3 {
    max-width: 208px;
    overflow: hidden;
    height: 31px;
  }
}
