.characterWrapper {
  padding: 24px;
  padding-bottom: 85px;
}

.link {
  font-weight: 700;
  font-size: 18px;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-bottom: 77px;
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 5px solid #f2f2f7;
  margin-bottom: 35px;
}

.name {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-bottom: 35px;
}

.info {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  width: 312px;
}

.infoTitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: #8e8e93;
  margin-bottom: 16px;
}

.infoListItem {
  padding: 10px;
  border-bottom: 1px solid #212121;
}

.infoListItem h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.infoListItem p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #6e798c;
}

@media screen and (min-width: 768px) {
  .info {
    width: 413px;
  }

  .img {
    width: 300px;
    height: 300px;
    margin-bottom: 16px;
  }

  .infoTitle {
    margin-bottom: 48px;
  }

  .infoTitle {
    margin-bottom: 48px;
    text-align: center;
  }
}
